
.card__tags {
    gap: 8px;
    place-self: flex-start;
    margin-top: 16px;
}


.card__tags--item {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    
}

.card__title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    place-self: flex-start;
    margin-top: 8px;
}

.card__description {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 24px;
    max-width: 292px;
    place-self: flex-start;
    margin-top: 16px;
}

.card__btns {
    gap: 16px;
    margin-bottom: 16px;
    place-self: flex-start;
}

.card__img {
    border-radius: 12px;
    max-height: 100%;
    height: 200px;
    max-width: 300px;
    object-fit: cover;
    place-self: center;
}

