.card__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;


    .card__tags {
        gap: 8px;
        place-self: flex-start;
        margin-top: 16px;
    }
    
    
    .card__tags--item {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        overflow: hidden;
        max-width: 10ch;
        
    }
    
    .card__title {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        place-self: flex-start;
        margin-top: 8px;
    }
    
    .card__description {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 24px;
        max-width: 345px;
        place-self: flex-start;
        margin-top: 16px;
        min-height: 80px;
    }
    
    .card__btns {
        gap: 16px;
        margin-bottom: 16px;
        place-self: center;
    }
    
    .card__img {
        border-radius: 12px;
        height: 200px;
        width: 270px;
        object-fit: cover;
        place-self: center;
    }
}




