.card__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    transition: transform 0.2s ease;

    @include respond-below(lg) {
        width: 100% !important;
      }
    
    &:hover {
        box-shadow: $dropShadow;
        transform: translateY(-5%);
    }

    


    .card__tags {
        gap: 8px;
        place-self: center;
        margin-top: 16px;
        width: 100%;
        
    }
    
    
    .card__tags--item {
        font-family: $oxygen;
        font-weight: 200;
        font-size: 16px;
        line-height: 20px;
        overflow: hidden;
        max-width: 10ch;
        @include respond-below(sm) {
          font-size: rem(12px);
        }
        
        
    }
    
    .card__title {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        place-self: flex-start;
        width: 100%;
        margin-top: 16px;
        @include respond-below(sm) {
          font-size: rem(18px);
        }
    }
    
    .card__description {
        font-family: $prompt;
        font-weight: 200;
        font-size: 18px;
        line-height: 24px;
        max-width: 345px;
        place-self: flex-start;
        min-height: 80px;
        width: 100%;
        margin-top: 16px;
        @include respond-below(sm) {
          font-size: rem(14px);
          max-width: rem(220px);
        }
    }
    
    .card__btns {
        gap: 16px;
        place-self: flex-start;
        width: 100%;
        margin-top: 16px;
    }
    
    .card__img {
        border-radius: 12px;
        height: 200px;
        width: 350px;
        object-fit: cover;
        place-self: center;

        @include respond-below(sm) {
            max-height: 12.375rem;
            max-width: 20.625rem;
        }
    }

    .anchor__link {
        width: 100%;
        display: inline-block;
    }
}




