

.filter__card {
    display: inline-block;
    padding: 0;
}

.filter__title {
    font-family: $oxygen;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 16px;
}

.filter__btns {
    gap: 16px;
    
}

