.hobbies__section {
    display: inline-block;
}

.hobbies__card {
    gap: 24px;
    place-items: center;
}

.hobbie__card {
    justify-items: center;
    
}

.hobbies__title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: $darkGray;
    width: 100%;
    justify-self: flex-start;
}


.hobbie__img {
    max-height: 100%;
    width: 350px;
    object-fit: cover;
    border-radius: 12px;
    
}

.hobbie__title{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: $darkerGray;
}

.hobbie__text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $lightGray;
    max-width: 350px;
}