.hobbies__section {
    display: inline-block;
}

.hobbies__card {
    gap: 24px;
    place-items: center;
}

.hobbie__card {
    justify-items: center;
    width: 100%;
    
}

.hobbies__title {
    font-style: bold;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    width: 100%;
    justify-self: flex-start;
    
}


.hobbie__img {
    max-height: 100%;
    width: 250px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 8px;
    
}

.hobbie__title{
    font-family: $oxygen;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 8px;
    place-self: flex-start;
}

.hobbie__text {
    font-family: $prompt;
    font-weight: 200;
    font-size: 18px;
    line-height: 20px;
    max-width: 350px;
    margin-bottom: 8px;
    place-self: flex-start;
}