.intro__section {
    max-width: 1046px;
    width: auto;
    display: inline-block;
}

.intro__card {
    justify-content: center;
    width: auto;
    gap: 32px;
}

.info__details {
    width: 100%;
    justify-content: space-between;
    
    @include respond-below(lg) {
      flex-direction: column;
      gap: rem(32px);
      place-items: flex-start;
    }
}

.card__avatar {
    max-height: 100%;
    width: 200px;
    object-fit: cover;
    border-radius: 12px;

    @include respond-below(sm) {
      display: none;
    }
}

.card__info {
    gap: 40px;
}

.details__name {
    font-family: $montserrat;
    font-style: bold;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    
}

.details__position {
    font-family: $oxygen;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    
}

.details__contacts {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    
}

.intro__bio {
    font-family: $prompt;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 22px;
    max-width: 650px;
}

.contacts__item {
    gap: 16px;
    align-items: center;
    
}

