//Colors 

$primaryBlue: #2F80ED;
$darkenBlue: #0b3e82;
$offWhiteBg: #F2F2F2;
$whiteCardBg: #FFFFFF;
$darkGray: #4F4F4F;
$lightGray: #828282;
$darkerGray: #333333;
$black: #000000;

//fonts
$montserrat: 'Montserrat', sans-serif;
