.socials__wrapper {
    transition: transform 0.2s ease;
    
    &:hover {
        box-shadow: $dropShadow;
        transform: translateY(-5%);
    }
}

.socials__card {
    gap: 16px;
}


.socials__icons {
    justify-content: center;
    gap: 8px;
}

.socials__title{
    margin-bottom: 16px;
    margin-top: 16px;
    width: 100%;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    
}

.linkedin {
    &:hover, a {
        color:#0e76a8;
    }
}

.twitter {
    &:hover, a {
        color: #1DA1F2;
    }
}

.github {
    &:hover, a {
        color: #171515;
    }
}

.dribbble {
    &:hover, a {
        color: #ea4c89;
    }
}
