@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.page__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page__wrapper {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #F2F2F2;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

.card__tags {
  gap: 8px;
  place-self: flex-start;
  margin-top: 16px;
}

.card__tags--item {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.card__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  place-self: flex-start;
  margin-top: 8px;
}

.card__description {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 24px;
  max-width: 292px;
  place-self: flex-start;
  margin-top: 16px;
}

.card__btns {
  gap: 16px;
  margin-bottom: 16px;
  place-self: flex-start;
}

.card__img {
  border-radius: 12px;
  max-height: 100%;
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  place-self: center;
}

.intro__section {
  max-width: 1046px;
  width: auto;
  display: inline-block;
}

.intro__card {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  gap: 32px;
}

.info__details {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__photo {
  max-height: 100%;
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}

.card__info {
  gap: 40px;
}

.details__name {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.details__position {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.details__contacts {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.intro__bio {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  max-width: 650px;
}

.contacts__item {
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__section {
  display: inline-block;
  min-width: 275px;
}

.skill__frontend, .skill__design {
  width: 100%;
}

.skills__card {
  place-items: flex-start;
  gap: 32px;
}

.skills__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  place-self: flex-start;
  margin-bottom: 16px;
}

.skills__item {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.item__name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.certificates__section {
  display: inline-block;
}

.certificates__card {
  gap: 32px;
}

.certificates__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.certificate__item {
  gap: 24px;
  padding: 16px;
}

.certificate__img {
  max-height: 100%;
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}

.certificate__info {
  place-items: flex-start;
  gap: 8px;
}

.certificate__date {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.certificate__title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.certificate__description {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  max-width: 380px;
}

.hobbies__section {
  display: inline-block;
}

.hobbies__card {
  gap: 24px;
  place-items: center;
}

.hobbie__card {
  justify-items: center;
}

.hobbies__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  width: 100%;
  justify-self: flex-start;
}

.hobbie__img {
  max-height: 100%;
  width: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}

.hobbie__title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.hobbie__text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  max-width: 350px;
}

.works__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works__card {
  gap: 32px;
}

.filter__card {
  display: inline-block;
  padding: 0;
}

.filter__title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 16px;
}

.filter__btns {
  gap: 16px;
}

.portfolio__section {
  display: inline-block;
}

.portfolio__category {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 24px;
}

.portfolio__midsection {
  gap: 40px;
  place-items: flex-start;
}

.portfolio__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  max-width: 300px;
  margin-left: 32px;
}

.portfolio__img {
  width: 770px;
  height: 300px;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
  place-self: center;
}

.portfolio__text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  max-width: 600px;
  margin-top: 32px;
  margin-bottom: 48px;
  margin-left: 32px;
}

.socials__icons {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}

.socials__title {
  margin-bottom: 16px;
  width: 100%;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.linkedin:hover, .linkedin a {
  color: #0e76a8;
}

.twitter:hover, .twitter a {
  color: #1DA1F2;
}

.github:hover, .github a {
  color: #171515;
}

.dribbble:hover, .dribbble a {
  color: #ea4c89;
}

.toggle__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  gap: 16px;
  margin-top: 16px;
  padding: 24px;
}

.page__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  max-width: 1440px;
}

.intro__section {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.socials__section {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 / 5;
}

.skills__section {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / 5;
}

.portfolio__section {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3 / 6;
}

.hobbies__section {
  -ms-grid-column: 1;
  grid-column: 1 / 1;
  -ms-grid-row: 5;
  -ms-grid-row-span: 4;
  grid-row: 5 / 9;
}

.certificates__section {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 6;
  -ms-grid-row-span: 3;
  grid-row: 6 / 9;
}

.filter__section {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 10;
  grid-row: 10 / 10;
}

.works__section {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 11;
  -ms-grid-row-span: 1;
  grid-row: 11 / 12;
}
